modules = ["python-3.12"]
run = "streamlit run legal_agent_team.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run legal_agent_team.py"]

[[ports]]
localPort = 8501
externalPort = 80
